<div class="jumbotron">
  <div class="text-center">
  <h1>Welcome</h1>
  <%= link_to 'Click to log in', login_path %> 
  <br>
  <%= link_to 'Click to create an account', new_user_path %> 
  <br>
  <%= link_to 'Click for more information', '#' %> 
  </div>
</div>