<% provide(:title, "Edit Workout") %> 
<%= render layout: 'layouts/header' do %> 
 <% end %>
 
<div id="left-sidebar">
  <%= render 'workout_form' %>
</div>
<%= link_to "Go back", workout_path(params[:id]) %> 
