<% provide(:title, 'Index') %> 
<%= link_to 'Create', :create_workout %> 
<% if @workouts %>
  <% @workouts.each do |w| %>
  <h3><span id='workout_name'><%= link_to(w.name, w) %></span>&nbsp;
      <%= w.date.strftime("%a, %b %d, %Y") %></h3>
  <% end %>
<% end %> 
