<% provide(:title, 'Index') %> 
<% if @workouts %>
  <% @workouts.each do |w| %>
  <h3><span id='workout_name'><%= w.name %></span>&nbsp;
      <%= w.date.strftime("%a, %b %d, %Y") %></h3>
  <% end %>
<% end %> 
