<% provide(:title, 'Index') %> 
<%= link_to 'Create', :create_workout %> 
<% if @workouts %>
  <section>
    <% @workouts.each do |w| %>
    <h3 class='workout_name'><%= link_to(w.name, w) %>&nbsp;
        <%= w.date.strftime("%a, %b %d, %Y") %></h3>
    <% end %>
  </section>
<% end %> 
