<% provide(:title, 'New Workout') %> 
<%= workout_page_background_color %> 

<div class="container" id='form' style='max-width: 450px'>
  <div class='jumbotron'>
    <div class='text-center'>Create a New Workout</div>
    <%= render 'workout_form' %>
  </div>
</div>
