<% if @workout %>
  <ul class='workout_info'>
    <li>Name: <%= @workout.name %></li>
    <li>Date: <%= @workout.date %></li>
    <li>Note: <%= @workout.note %></li>
  </ul>
  </div>
<% else %> 
  Workout not found
<% end %> 
