<%= provide(:title, 'Update Account') %>
<div id="left-sidebar">
  <div class='text-center'>Update Account Info</div>
  <%= render partial: 'user_form', locals: { submit_text: 'Update Account' } %> 
</div>