<%= provide(:title, 'Account Creation') %>
<br>
<div class="container" id='form' style='max-width: 400px'>
  <div class='jumbotron'>
    <div class='text-center'>Create an Account</div>
     <%= render partial: 'user_form', locals: { submit_text: 'Create Account' } %>
  <br>
  <%= link_to 'Go back', root_path %> 
  </div>
</div>
