/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #E3E3E3;
  font-family: 'Arial-black';
  word-wrap: break-word;
}

input{
  height: 29px !important;
}

a{
  font-weight: bold;
}

hr{
  border-color: black;
}

table{
  margin-top: 18px;
  margin-bottom: 18px;
}

table, th, td {
  border: 1px solid black;
}

th, td{
  text-align: center;
}

.page-header{
  margin-top: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 0px;
  border-color: black;
}

#left-sidebar{
  padding: 5px 2px 3px 2px;
  margin-right: 6px;
  float: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 26%;
}

#left-sidebar>div.text-center{
  font-weight: bold;
}
