#line-graph{
  margin-top: 15px;
  width: 100%;
  height: 270px;
}

#start-date-select-form{
  margin-top: 8px;
  max-width: 200px;
}

#exercise-info{
  margin-top: 14px;
}

.exercise-row{
  border-bottom: 1px rgba(30,30,30,.25) solid;
}

.exercise-row:last-of-type{
  border-bottom: none;
}