#left-sidebar.exercises-index{
  width: 20%;
  margin-right: 13px;
}

#exercise-info{
  float: left;
  width: 65%;

  ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;    
  }
}

#line-graph{
  margin-top: 15px;
  width: 600px;
  height: 270px;
}

#start-date-select-form{
  margin-top: 8px;

  select{
    float: left;
    width: 200px;
  }
  
  input{
    margin-left: 5px;
  }
}
