#left-sidebar.exercises-index{
  width: 20%;
  margin-right: 13px;
}

#exercise-info{
  float: left;
}

#exercise-info{
  float: left;
}

#exercise-info>ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
 }
