.workout_name_link{
  font-size: 22pt;
}

.workout_attributes{
  font-size: 12pt;
}

hr{
  margin:9px 0px;
}

.exercise_note_and_sets{
  list-style-type: none;
}

.form-group{
  margin-bottom: 1px;
}

.pounds-field, .reps-field{
  float: left;
  width: 46%;
}

#exercises{
  float: left;
  width: 60%;
}

section#workout-list{
  margin: 0;
}

section#workout-list>div{
  margin-bottom: 10px;  
}