.workout_name_link{
  font-size: 22pt;
}

.workout_attributes{
  font-size: 12pt;
}

.left-sidebar{
  padding: 5px 2px 3px 2px;
  float: left;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  width: 26%;
}

.left-sidebar>div.text-center{
  font-weight: bold;
}

hr{
  margin:9px 0px;
}

#exercises{
  float: left;
}

.exercise_note_and_sets{
  list-style-type: none;
}

.form-group{
  margin-bottom: 1px;
}

.pounds-field, .reps-field{
  float: left;
  width: 46%;
}

#exercises{
  width: 60%;
}