<% provide(:title, 'Edit Exercise') %> 
<div id='left-sidebar'>
  <div class='text-center'>Edit Exercise Info</div>
  <%= render 'exercise_form' %> 
</div>
<%= link_to "Go back", workout_path(params[:workout_id]) %> 
