<% if flash[:error] %> 
  <div id="flash_error" class='alert alert-info'>
  
    <% if flash[:error].class == Array %> 
      <% if flash[:error].length > 1 %> 
        <ol>
        <% flash[:error].each do |e| %> 
          <li>
            <%= e %> 
            <br>
          </li>
        <% end %> 
        </ol>
      <% else %> 
        <%= flash[:error][0] %> 
      <% end %> 

    <% else %>
      <%= flash[:error] %> 
    <% end %> 
  
  </div>
<% end %> 
