<header class="page-header">  

  <% unless params[:controller] == 'workouts' && params[:action] == 'index' %>
    <div><%= link_to "Home", :root %></div>
  <% end %>

  <% if logged_in? %> 
    <%= render 'layouts/logged_in_header_links' %> 
  <% else %> 
    <%= render 'layouts/logged_out_header_links' %> 
  <% end %>

  <%= yield %>
</header>
